<h2>New Game</h2>
<form action="/games" method="post">
  <p><input type="text" name="name" placeholder="Name"></p>
  <p><input type="text" name="year" placeholder="Year"></p>
  <p><input type="text" name="creator" placeholder="Creator"></p>
  <p><input type="text" name="rating" placeholder="Rating"></p>
  <p><input type="text" name="synopsis" placeholder="Synopsis"></p>
  <!-- <p><input type="url" name="image" placeholder="Image URL"></p>
 -->
  <input type="submit" value="Create game">
</form>
