<form action="/mountains" method="post" >
	<input name="mountain[name]" type="text" placeholder="Mountain Name">
	<input name="mountain[elevation]" type="number" placeholder="Mountain Elevation">
	<input name="mountain[image]" type="url" placeholder="Image URL">
	<input type="submit" value="Create Mountain">
</form>