@import url(http://fonts.googleapis.com/css?family=Poiret+One);

body{

	background-color: #ededed;
	transition:background-color 0.5s linear;
}

body:hover{
	background-color: #756e6e;
}

.container{
	width: 960px;
	margin: 0 auto;
}

h1{
	text-align: center;
	color: white;
	position: relative;
	-webkit-animation:mymove 5s;
	font-family: 'Poiret One', cursive;
}

@keyframes mymove{

	from{top:400px;}
	to{top:0px;}
}

a{	
	background-color: none;
	text-decoration: none;
	color: black;
	transition:background-color 0.2s linear;
}

a:hover{
	background-color: rgba(255,255,255,0.4);
}

header{
	position: relative;
	top: 300px;
}



.hometown{
	font-family: 'Poiret One', cursive;
	color: white;
	top: 300px;
	position: relative;
	-webkit-animation:pmove 0.8s;
}

@keyframes pmove{
	from{top: 400px;}
	to{top: 300px;}
}

