<h2>Create New Ocean</h2>

<form action="/oceans" method="post">
  <p>Name: <input type="text" name="oceans[name]"></p>
  <p>Location: <input type="text" name="oceans[location]"></p>
  <p>Depth: <input type="text" name="oceans[depth]"></p>
  <p>Area: <input type="text" name="oceans[area]"></p>

  <input type="submit" value="Create Ocean">
</form>