<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> Chris' Book List</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<div class="border">
	<nav>
		<a href="/">HOME</a>
		<a href="/books"> BOOKS</a>
		<a href="/books/new"> ADD BOOK </a>
		<a href="/authors">AUTHORS</a>
	</nav>
	</div>	
	<%= yield %>
</body>
</html>