
body {
	background-color: yellow;
	color: blue;
	text-align: center;
	margin-top: 200px;
}

.game_input {
	width: 250px;
}

form {
	color: black;
	padding: 2em;
	margin-top: 20px;
	border-radius: 0.5em;
	box-shadow: 2px 2px 10px black;
}