
<h2>New Kpop</h2>

<div class="copy">

	<form action="/kpops" method="post">
		<p><input class="kpop_input" type="text" name="group_name" placeholder="Group Name"></p>
		<p><input class="kpop_input" type="text" name="num_members" placeholder="Number of members"></p>
		<p><input class="kpop_input" type="url" name="image" placeholder="Image URL"></p>
		<!-- <p><input class="content_input" type="text" name="content" placeholder="About this kpop"></p> -->

		<input type="submit" value="Create Kpop">

	</form>

</div>