<div class="container">

<h1>Search for your favourite movie!</h1>
<form action="/movies">
	
	<input type="text" name="movietitle" placeholder="title of the movie" autofocus>
	<button>View a List</button>

</form>

<form action="/poster">
	
	<input type="text" name="movietitle" placeholder="title of the movie" autofocus>
	<button>View Poster</button>

</form> 
</div>