<!DOCTYPE html>
<html>
<head>
  <title>Carnival</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
	<a href="/home">HOME</a>
	<a href="/magic">MAGIC 8 BALL</a>
	<a href="/number">SECRET NUMBER</a>
	<a href="/rps">ROCK PAPER SCISSORS</a>
</nav>

<%= yield %>

</body>
</html>
