// Place all the styles related to the mountains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);
html {
	background-image: url("http://diy.005.tv/Files/20140723181415063.png");
	background-size: cover;
	font-family: 'Architects Daughter', cursive;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.8);
	padding: 1em;
	border-radius: 5px;
}

p {
	font-size: 1.2em;
}

nav {
	text-align: right;
}

h2 {
	color: blue;
}

.entry {
	padding: 5px;
	margin: 5px;
	width: 300px;
	height: 25px;
	border-radius: 5%;
	background-color: yellow;
	font-family: 'Architects Daughter', cursive;
	font-size: 1.2em;
}

.entry:hover {
	color: red;
	background-color: gray;
}

.button {
	font-family: 'Architects Daughter', cursive;
	font-size: 1.2em;
	background-color: gray;
	color: white;

}

.button:hover {
	background-color: red;
}

.controls {
	text-align: right;
}

.feature {
	max-width: 100%;
}

img {
	border-radius: 3%;
	border: 2px solid red;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: red;
	font-size: 1.5em;
}
