<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Movie Searcherdopolous</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	
	<div class="container">
		<h1>Movies Database</h1>
	</div>

	<%= yield %>
	
</body>
</html>