body {
	background-color: #333;
	color: gold;
	font-family: "Proxima Nova";
	margin: 0 30px;
}

.inline {
	display: inline;
}

.inline-block {
	display: inline-block;
}

.box {
	width: 200px;
	height: 200px;
	border: 1px solid gold;
	text-align: center;
	line-height: 200px;
}

.relative {
	position: relative;
}

.absolute {
	top: 100px;
	right: 200px;
	position: absolute;
}

.fixed { 
	position: fixed;
	top: 100px;
	right: 200px;
}

.super-relative {
	border: 1px solid gold;
	width: 50%;
	height: 25%;
}

.minibox {
	position: absolute;

	width: 200px;
	height: 200px;
}

.red {
	top: 10%;
	left: 10%;
	background-color: red;
}

.green {
	top: 25%;
	left: 25%;
	background-color: green;
}

.blue {
	top: 40%;
	left: 40%;
	background-color: blue;
}