<h2>Add a new ocean</h2>

<form action="/oceans" method="post">
  <p>Name: <input type="text" name="ocean[name]"></p>
  <p>Location: <input type="text" name="ocean[location]"></p>
  <p>Image: <input type="url" name="ocean[image]"></p>
  <p>Volume(km³): <input type="text" name="ocean[volume]"></p>
  <p>Coastline(km): <input type="text" name="ocean[coastline]"></p>

  <input type="submit" value="Create Ocean">
</form>