<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Booze API</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="container">
            <h1 class="title">Booze API</h1>
            <nav class="global-nav">
                <ul>
                    <li><a href="/booze">List of current booze</a></li>
                </ul>
            </nav>

            <%= yield %>
        </div>
    </body>
</html>
