<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The Weather at Brisbane Airport</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	
	<div class="container">

		<h1>The Weather at Brisbane Airport</h1>

		<%= yield %>	

	</div>
</body>
</html>