<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Pair Programming Bot</title>
		<link rel="stylesheet" href="/style.css">
	</head>

	<div class="container">
		<body>
			<%= yield %>
		</body>
	</div>
</html>