<form action="/sailors/<%= @sailor.id %>" method="post">
	<input type="text" name="name" placeholder="Enter your name" value=<%= @sailor.name %>>
	<input type="text" name="superpower" placeholder="Superpower" value=<%= @sailor.superpower %>>
	<input type="text" name="costume" placeholder="Costume" value=<%= @sailor.costume %>>
	<input type="submit" value="Click to Create">
</form>