<% if @winner %>
	<p> YOU ARE THE WINNER! </p>
<% else %>
	<p> YOU LOST! </p>
<% end %>

<p> Your choice was <%= @answer %> </p>
<p> Correct choice was <%= @secret_number %> </p>

<form action="/games/secretnumber">
	<button>Play Again!</button>
</form>