<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pair Programming Bot</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class='container'>
	  <div class="linkright"><a href="/run_tests">[Run Tests]</a></div>
	  

	  <div class="box">
   		 <%= yield %>
   	  </div>
   	  <div class="linkleft"><a href="/inspiration">(Inspiration)</a></div>
  </div>

  </body>
</html>
