<div class="box">
<form action="/new_feature">
	<p class="text">Select a new feature for Implement</p>
	<button class="continue" type="submit" name="continue" value="c">Continue</button>
</form>
</div>