<div class="box">
<form action="/pairbot">
	<p class="text">Do you have a test for that?</p>
	<button class="yes" type="submit" name="yes" value="y">Yes</button>
	<button class="no" type="submit" name="no" value="n">No</button>
</form>
</div>