<div class="box">
<form action="/refactor">
	<p class="text">Need to Refactor?</p>
	<button class="yes" type="submit" name="yes" value="y">Yes</button>
	<button class="no" type="submit" name="no" value="n">No</button>
</form>
</div>