<div class="box">
<form action="/test_pass">
	<p class="text">Does the test pass?</p>
	<button class="yes" type="submit" name="yes" value="y">Yes</button>
	<button class="no" type="submit" name="no" value="n">No</button>
</form>
</div>