<div class="copy">
	<h2>About</h2>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste officiis blanditiis ad magni maiores vero sed enim, atque doloremque, laboriosam suscipit. Ipsam minus, consectetur facere voluptas doloribus dolores odit similique!</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste officiis blanditiis ad magni maiores vero sed enim, atque doloremque, laboriosam suscipit. Ipsam minus, consectetur facere voluptas doloribus dolores odit similique!</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste officiis blanditiis ad magni maiores vero sed enim, atque doloremque, laboriosam suscipit. Ipsam minus, consectetur facere voluptas doloribus dolores odit similique!</p>
</div>