<div class="copy">
	<h2>Help</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo ipsa itaque, nobis nesciunt, modi at aspernatur atque repellendus eum animi ratione eaque nulla facere vero id, possimus illo. At, iste!</p>
</div>