<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<title>Sinatra Calculator</title>
</head>
<body>
<div class="container">
	<nav>
		<a href="/">Home</a>
		<a href="/about">About</a>
		<a href="/help">Help</a>
		<a href="/advertise">Advertise</a>
	</nav>

	<h1>Sin's Calculator</h1>

	<%= yield %>

</div>
</body>
</html>