body { 
	font-family: 'Belgrano', serif;
	margin: 0;
}

h1, h2, h3, h4, h5 {
	font-family: 'Lato', sans-serif;
}


.container {
	max-width: 720px;
	margin: 0 auto;
}

header {
	text-align: center;
}

header h1 {
	padding-left: 20px;
}

header nav ul {
	margin: 0;
	padding: 0;
	background: #333;
	color: white;
}

header nav ul li {
	display: inline-block;
	padding: 20px;
}

header nav ul li a, header nav ul li a:visited {
	color: white;
	text-decoration: none;
	transition: color 0.6s ease;
}

header nav ul li a:hover {
	color: #aaa;
}


/* CONTENT */
/***********/

.content {
	padding: 0 20px;
	margin-top: 30px;
	display: inline-block;
}

.content .profilePhoto {
	height: 200px;
	width: 200px;
	overflow: hidden;
	border-radius: 100%;
	margin: 0 auto;
}

.content img {
	width: 200px;
}

.content .summary {
}

.content .summary h2 {
	margin: 0;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
	margin-top: 0;
}

.content .summary p {
	line-height: 1.8rem;
	padding-bottom: 20px;
	border-bottom: 1px solid #333;
}

/* TRIVIA */
/**********/

/* Normal Stuff */

.contentTrivia {

	width: 500px;
	margin: 0 auto;
}

.trivia {
	width: 500px;
	margin-top: 30px;
}

.trivia .triviaThumb .thumbnailImage {
	width: 500px;
	height: 50px;
	overflow: hidden;

	margin: 0 auto;
	transition: height 0.6s ease;
}

.thumbnailImage img {
	width: 100%;
}

.triviaThumb {
	position: relative;
}

.triviaThumb .overlayInfo {
	position: absolute;
	padding: 20px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	opacity: 0;
	cursor: default;
	transition: opacity 0.6s ease;
}

.triviaThumb:hover .overlayInfo {
	opacity: 1;
}

.triviaThumb:hover .thumbnailImage {
	height: 250px;
}

/* Hehehehe */
/************/

.trivia .triviaThumb .thumbnailImage img {
	transition: all 0.3s ease;
}

.trivia .triviaThumb:nth-child(1) .thumbnailImage img {
	margin-top: -40px;
	margin-left: -5px;
	width: 95%;
}
.trivia .triviaThumb:nth-child(2) .thumbnailImage img {
	margin-top: -10px;
	width: 95%;
}
.trivia .triviaThumb:nth-child(3) .thumbnailImage img {
	margin-top: -70px;
	margin-left: 90px;
	width: 65%;
}
.trivia .triviaThumb:nth-child(4) .thumbnailImage img {
	margin-top: -135px;
	margin-left: 70px;
	width: 65%;
}
.trivia .triviaThumb:nth-child(5) .thumbnailImage img {
	margin-top: -160px;
}
.trivia .triviaThumb:nth-child(6) .thumbnailImage img {
	margin-top: -270px;
	margin-left: -150px;
	width: 160%;
}

.triviaThumb:nth-child(1n):hover .thumbnailImage img {
	width: 100%;
	margin-top: 0;
	margin-left: 0;
}



/* HOMETOWN */
/************/

.mapBox {
	width: 400px;
	margin: 0 auto 30px;
}

/* COPYRIGHT */
/*************/

.copyright {
	color: #ccc;
	font-size: 10px;
	position: fixed;
	bottom: 5px;
	right: 5px;
}

.copyright a, .copyright a:visited {
	color: #ccc;
	text-decoration: none;
}

.copyright a:hover {
	color: #999;
}