<h1>Flickr Search</h1>
<link href='https://fonts.googleapis.com/css?family=Hind' rel='stylesheet' type='text/css'>
<div>
	<form id="search">
		<%= text_field_tag 'query', nil, :placeholder =>  'Search Flickr', :autofocus => true  %>
		<%= button_tag 'go', :id => 'search_flickr' %>
	</form>

	<div id="results">
		
	</div >

</div>
