<div class="delete">
<!-- <a href="" -->
	<form action="/boardgames/<%= @boardgame.id %>/delete" method="post">
		<p>Are you sure?</p>
		<input type="submit" value="y" name="y" >Yes</input>
		<input type="submit" value="n" name="n">No</input>
	</form>
</div>