<h1> MAGIC 8 BALL </h1>

<p> Your question was "<%= params[:question] %>"</p>

<p> Your answer whether you like it or not is: 
<%= @answers[Random.rand(0..19)] %>
</p>

<p>
<div>
<form action="/magic_answer">
	<input class="boxes" type="text" name="question" placeholder="WHAT IS YOUR QUESTION? PROCEED AT YOUR OWN PERIL" autofocus>
	<input type="submit">
</form>
</div>
</p>