<h1> MAGIC 8 BALL </h1>
<p>
<div>
<form action="/magic_answer">
	<input class="boxes" type="text" name="question" placeholder="WHAT IS YOUR QUESTION? PROCEED AT YOUR OWN PERIL" autofocus>
	<input type="submit">
</form>
</div>
</p>