<h1> SECRET NUMBER </h1>

<h2> You guessed <%= params[:answer] %> that is 
	<% if @number.to_f == @answer.to_f %>
		CORRECT!
	<% else %>
		INCORRECT!
	<% end %></h2>

<h3> Guess the Secret Number </h3>
<p>
<div>
<form action="/number_answer">
	<input class="boxes" type="number" max="10" min="1" name="answer" placeholder="Whats your guess?" autofocus>
	<input type="submit">
</form>
</div>
</p>

