<h1> ROCK PAPER SCISSORS </h1>

<p>
<div>
<form action="/games/rps_play">
	<input class="boxes" type="text" name="throw" placeholder="ROCK, PAPER, OR SCISSORS?" autofocus>
	<input type="submit">
</form>
</div>
</p>
