<h2>Add an alien...</h2>

<h4>Non-organic, sentient beings may be included in this list, such as Gangers, the Whispermen, and the non-corporeal Great Intelligence; but robots are excluded even if seemingly sentient such as K-9, Kamelion, Kandy Man, etc.</h4>

 <h4>Humans can also be included if their appearance and nature differ significantly from real-world humans, such as Lady Cassandra O'Brien and the Boekind.</h4>

<form action="/aliens" method="post">

	<p><input type="text" name="species" placeholder="Species"></p>
	<p><input type="text" name="planet" placeholder="Planet"></p>
	<p><input type="text" name="bio" placeholder="Bio"></p>
	<p><input type="url" name="image" placeholder ="Image URL"></p>	

	<input type="submit" value="Create Alien">

</form>