<h2>New Mountain</h2>

<form action="/mountains" method="post">
	
	<p>Name: <input type="text" name="mountain[name]"></p>
	<p>Location: <input type="text" name="mountain[location]"></p>
	<p>Image: <input type="url" name="mountain[image]"></p>
	<p>First Person: <input type="text" name="mountain[first_person]"></p>

	<input type="submit" value="Create Mountain">

</form>



