<h1>New ocean</h1>

<form action="/oceans" method="post">
	<p>Name: <input type="text" name="ocean[name]"></p>
	<p>Image: <input type="URL" name="ocean[image]"></p>
	<p>Km Square: <input type="text" name="ocean[km_square]"></p>
	<p>Max Depth: <input type="text" name="ocean[max_depth]"></p>
	
	<input type="submit" value="Create ocean">

</form>