<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Guitar New</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="/javascript.js"></script>
</head>
<div class="container">
	<body>

		<nav class="row">
			<div class="col-md-4 navtag"> <a class="navlink" href="/">Home</a> </div> 
			<div class="col-md-4 navtag"> <a class="navlink" href="/guitars">All guitars</a> </div> 
			<div class="col-md-4 navtag"> <a class="navlink" href="/guitars/new">New guitars</a> </div> 
		</nav>

		<%= yield %>

		
	</body>
</div>
</html>