<form id="edit-booze-form"  action="/booze/<%= @booze.id %>" method=post>
    <h4>Name</h4>
    <input type="text" placeholder="Name" name="name" value="<%= @booze.name %>">
    <h4>Description</h4>
    <textarea id="edit-description" type="text" placeholder="Description" name="description" ><%= @booze.description %></textarea>
    <h4>Country Of Origin</h4>
    <input type="text" placeholder="Country Of Origin" name="country_of_origin" value="<%= @booze.country_of_origin %>">
    <button>Save Booze</button>
</form>
