<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/style.css">
	<title>KPOPS</title>
</head>
<body>
	<nav>
		<a href="/">Home</a>
		<a href="/kpops">All Kpops</a>
		<a href="/kpops/new">New Kpop</a>
	</nav>

	<div class="container">
		
		<%= yield %>
	</div>
</body>
</html>