
<h1>Great Reads!!!</h1>

<nav>
	<ul>Database
		<li><%= link_to 'Authors', authors_path %></li>
		<li><%= link_to 'Books', books_path %></li>
	</ul>
	<ul>Add Records
		<li><%= link_to 'Authors', new_author_path %></li>
		<li><%= link_to 'Books', new_book_path %></li>
	</ul>
</nav>
