<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/style.css">
	<meta charset="UTF-8">
	<title>Stock Request</title>
</head>
<body>
	<div class="container">
		<nav>
			<a href="/">Home</a>
		</nav>
		<h1> STOCKS STUFF </h1>
		<%= yield %>
	</div>
</body>
</html>