@import url(http://fonts.googleapis.com/css?family=Lato:400,700,700italic);

body {
	font-family: 'Lato', sans-serif;
}

h3 {
	font-size: 32px;
	margin: 0 auto;
}

.nav {
	background-color: #EBEBEB;
	font-size: 20px;
	padding: 5px 25px 5px 0px;
}

.row .col-md-6 {
	padding: 30px 30px 0px 30px;
}

.col-md-6 span {
	font-weight: bold;
}

img.profile {
	padding-top: 80px;
	width: 540px;
	height: auto;
}

.banner {
	width: 100%;
}