<form action="/lookup">
  <input type="text" name="movietitle" placeholder="Please enter your favourite movie here" autofocus>
  <input type="submit" value="Go">
</form>


<!-- 	<div class="search">
        <form action="/search" method="post">
          <input type="text" name="title" size="40" placeholder="Search for a film" autofocus>
          <button>Search</button>
        </form>
    </div> -->