<h2>New Mountain</h2>

<form action="/mountains" method="post">
	<p>Name: <input class="entry" type="text" name="mountain[name]" placeholder="name" required="true"></p>
	<p>Range: <input class="entry" type="text" name="mountain[range]" placeholder="range"></p>
	<p>Image: <input class="entry" type="text" name="mountain[image]" placeholder="image URL"></p>
	<p>Location: <input class="entry" type="text" name="mountain[location]" placeholder="country"></p>
	<p>Height: <input class="entry" type="text" name="mountain[height]" placeholder="in meters"></p>
	<p>First ascender: <input class="entry" type="text" name="mountain[first_climber]" placeholder="name of mountaineer(s)"></p>
	<p>Description: <input class="entry" type="text" name="mountain[description]" placeholder="description"></p>

	<input class="button" type="submit" value="Add Mountain to Database">
</form>

<form action="/mountains">
	<input class="button" type="submit" value="Cancel">
</form>