<h1> MOVIE SEARCH </h1>
<form id="search-bar"  action="/movie">
    <input id="search-input" type="text" name="title">
    <input type="submit" value="Search">
</form>

<h1> STOCK SEARCH </h1>
<form action="/stock">
	<input type="text" name="stock" placeholder="Stock (abbrev)">
	<button>Get Price</button>
</form>

<p>E.g: AAPL, GOOGL, FB, TWTR</p>