<div class="border">
<h2> Add a new book! </h2>
<h4> use the inputs below to help </h4>
<div>
<form action="/books/create" method="post">
	<p><input class="boxes" type="text" name="title" placeholder="Title"></p>
	<p><input class="boxes"type="text" name="author" placeholder="Author"></p>
	<p><input class="boxes" type="url" name="cover" placeholder="Cover Image"></p>
	<p><textarea class="boxes xtra" type="text" name="summary" placeholder="Summary"></textarea></p>
	<p><input class="boxes" type="boolean" name="read" placeholder="I have read this book : True or False?"></p>

	<input type="submit" value="Create book">
</form>
</div>
</div>