<!-- form action="/eightball">
    <input type="text" name="question" placeholder = "Question" autofocus>
    <button>Get an answer...</button>
</form>

<%  @question.nil? %>

<p id='answer'>
	<b>Answer:</b>
	<%= @answer %>
</p> -->

<h1>TEST</h1>


