<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The Board Games Database</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav>
	<a href="/">Home</a>
	<a href="/boardgames">All Board Games</a>
	<a href="/boardgames/new">Add New Board Games</a>

</nav>

<div class="container">
	<%= yield %>
</div>
	
</body>
</html>