
<% unless @title.empty? %>
	<h2>Here are the results: </h2>

	<% i = 0 %>
	<% while i < @title_list.length do %>

		<% url = "http://omdbapi.com/?t=#{ @title_list[i]['Title'] }" %>
		<% pic = HTTParty.get url %>
		
		<!-- if there is only one result, display the poster directly -->
		<% if @title_list.length === 1 %>
			<img src="<%= pic['Poster'] %>">
		
		<!-- othewise, make each result as a link, direct it to its poster -->
		<% else %>
			<p><a href="<%= pic['Poster'] %>"><%= i+1 %>. <%= @title_list[i]["Title"] %></a></p>
		<% end %>
		
		<% i = i+1 %>
	<% end %>
<% end %>

<form action="/">
	<input type="submit" value="Another Search">
</form>



