/* 

## Style Hints: 

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/
body {
    font-family: "Times New Roman", serif;
    color: #656565;
}

p {
    font-size: 12px;
    line-height: 17px;
}

h1 {
   color: #999999;
   margin: 0.5em 0;
}

a, a:visited {
    color: #4c97c8;
    text-decoration: none;
}

a:hover {
    color: #20222a;
    text-decoration: none;
}

#container {
    width: 960px;
    margin: 0 auto;
}


/* FOOTER */


.sponsor {
    display: inline-block;
    list-style: none;
    border: 5px solid #ccc;
    background: #ece9e9;
}
