<!-- A form needs to go into here -->

<!-- If there was a last trade value, print it on the page here -->

<form action="/lookup">
	<input type="text" name="stocksymbol" placeholder="Stock symbol goes here, e.g. AAPL">
	<input type="submit" value="Go">
	autofocus
</form>
