
body {
	
	background: url("https://fortheloveofbookshops.files.wordpress.com/2011/10/p9200095.jpg");
  	color: white;
}

nav {
	text-align: right;
	color: black;
}

.container {
	width: 80%;
	max-width: 960px;
	margin: auto;
}

.thumb {
	
	max-width: 8em;
}

label {
	min-width: 100px;
	display: inline-block;
	text-align: right;
}


