@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,900);

nav {
	text-align: right;
	font-size: 18px;
	padding: 0px 18px 0px 18px;
}

body {
	background: white;
	background: #A1A1A1;
	opacity: 20%;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-color: #5E5E5E;
}

form {
	text-align: center;
	padding: 20px 0 40px 0;	
}

img {
	float: left;: right;
	padding-right: 30px;
	padding-left: 20px;
}

p {
	font-family:'Roboto', sans-serif;
	text-align: left;
	max-width: 1200px;
	font-size: 24px;
}

@media (max-width: 500px) {
	body {
		background-size: cover;
	}

	h1 {
		font-size: 22px;
	}

	p {
		font-size: 16px;
	}

	img {
		width: 200px;
	}
}
 
