@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);

#results img {
	height: 177px;	
}

h1 {
	font-size: 42px;
	font-family: 'Covered By Your Grace', cursive;
	text-align: left;
}

.img {
	max-height: 175px
	
}




