<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Move Deets</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<div class="container">
		<h1>Movie-search-a-bop-ulous</h1>
	</div>

	<%= yield %>
</body>
</html>